language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script:
  - npm run build
deploy:
  provider: github
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  domain: https://morcoss.github.io/
  project: ./build/
on:
  branch: master